.header {
    width: 100%;
    height: auto;
    padding: 0 0 30px;
    background-color: #0D1019;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.header__content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.header__content-left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 60px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list li {
    margin-right: 20px;
}

.menu__list li:last-child {
    margin-right: 0;
}

.menu__link {
    color: #95969A;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.line {
    width: 2px;
    height: 50px;
    background: #292C34;
}

.menu__link:hover {
    color: #fff;
}

.active {
    color: #fff;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.active::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 30px;
}

.header__content-right {
    display: flex;
    align-items: center;
}

.header__balance {
    cursor: pointer;
    width: 100px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, .1176470588);
    ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.header__balance:hover {
    background-color: rgba(255, 255, 255, 0.181);
    transition: .3s all ease;
}

.line {
    width: 2px;
    height: 50px;
    background: #292C34;
    margin-right: 30px;
}

.balance-img {
    width: 15px;
    height: 15px;
}

.header-balance-text {
    color: white;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

.header__bottom {
    margin-top: 45px;
}

.balance-title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -.79px;
    color: white;
    margin-bottom: 15px;
}

.cash-title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -.79px;
    color: white;
}

.balance-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -.22px;
    color: white;
}

.analytics {
    margin-top: 50px;
}

.analytics__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analytics__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -.5px;
    color: #0d1019;
    margin-bottom: 16px;
}

.analytics__title-data {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -.5px;
    color: #0d1019;
    margin-bottom: 16px;
}

.analytic__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 35px;
}

.analytics__button {
    display: block;
    height: 100%;
    padding: 20px 24px;
    color: black;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.13px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: -moz-max-content;
    width: max-content;
    border-radius: 8px;
    border: 1px solid rgba(13, 16, 25, .1176470588);
}

.analytics__button:hover {
    color: #fff;
    background-color: #0D1019;
    transition: .3s all linear;
}

.analytics__wrapper {
    text-align: center;
}

.analytic__wrapper {
    margin: 50px;
    text-align: center;
}

.analytics__img {
    margin-bottom: 35px;
    width: 600px;
    height: 170px;
}

.analytics__description {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.13px;
    color: #0d10198e;
}

.casa {
    margin-top: 50px;
    margin-bottom: 50px;
}

.casa__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.casa__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -.64px;
}

.casa__button {
    display: block;
    height: 100%;
    padding: 20px 24px;
    color: black;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.13px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: -moz-max-content;
    width: max-content;
    border-radius: 8px;
    border: 1px solid rgba(13, 16, 25, .1176470588);
}

.casa__button:hover {
    color: #fff;
    background-color: #0D1019;
    transition: .3s all linear;
}

.casa__wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    gap: 24px;
    list-style: none;
}

.card {
    padding: 25px;
    height: 165px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.33px;
}

.card__description {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.13px;
    color: gray;
}

.card__text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.13px;
}

.card__slider {
    display: flex;
    align-items: center;
}

.slide {
    margin-top: 8px;
    width: 147.638px;
    height: 3px;
    border-radius: 50px;
    background: #FFCE47;
    margin-right: 15px;
}

.slide:last-child {
    margin-right: 0;
    background: #E3E3E3;
}

.card-add {
    padding: 25px;
    height: 165px;
    border-radius: 20px;
    border: 1px dashed rgba(13, 16, 25, .12);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card__text-add {
    margin-top: 20px;
    color: #797979;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    font-weight: 300;
}

.social__content {
    margin-top: 50px;
    /* max-width: 100%; */
    /* height: 122px; */
    border-radius: 20px;
    border: 1px solid rgba(13, 16, 25, .06);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.social__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.33px;
}

.social-icon {
    margin-left: 20px;
    width: 36px;
}

/* PROFILE */
.profile-title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -.79px;
    color: white;
    margin-bottom: 15px;
}

.settings__wrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.profile-text {
    font-size: 15px;
    font-family: Inter, sans-serif;
    color: #fff;
    margin-right: 20px;
    position: relative;
}

.profile-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    bottom: -10px;
}

.notification-text {
    font-size: 15px;
    font-family: Inter, sans-serif;
    color: #fff;
    position: relative;
}

.notification-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, .06);
    bottom: -10px;
}

.security-title {
    margin-top: 50px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #0d1019;
}

.autentification {
    margin-top: 30px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(13, 16, 25, .12);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.autentification-left {
    display: flex;
    align-items: center;
}

.autentification-title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #0d1019;
    width: 300px;
    margin-left: 20px;
    line-height: 34px;
}

.autentification-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #0d10198e;
    max-width: 480px;
    margin-left: -220px;
}

.autentification-button {
    width: 105px;
    height: 50px;
    background-color: #0d1019;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.security__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 32px 0 56px;
}

.security__card {
    position: relative;
    border: 1px solid rgba(13, 16, 25, .1176470588);
    border-radius: 12px;
    min-height: 260px;
    padding: 25px;
}

.security__card-header {
    display: flex;
    justify-content: space-between;
}

.security__card-title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #0d1019;
    margin-bottom: 25px;
}

.security__img {
    width: 40px;
    height: 60px;
}

.security__img-email {
    width: 60px;
    height: 40px;
}

.security__img-telegram {
    width: 60px;
    height: 60px;
}

.security__card-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #0d10198e;
}

.security__card-button-connect {
    position: absolute;
    width: 110px;
    height: 50px;
    background-color: #0d1019;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    bottom: 20px;
}

.security__card-button {
    position: absolute;
    width: 105px;
    height: 50px;
    background-color: #0d1019;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    bottom: 20px;
}

.security__card-button-transition {
    position: absolute;
    width: 110px;
    height: 50px;
    border: 1px solid rgba(13, 16, 25, .1176470588);
    color: #0d1019;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    bottom: 20px;
}

.security__card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(13, 16, 25, .1176470588);
    left: 0;
    right: 0;
    bottom: 90px;
    ;
}

.security__card-bottom-second {
    position: absolute;
    display: flex;
    bottom: 25px;
}

.security__card-bottom-text {
    margin-left: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #0d10198e;
}

.security__card-bottom-text span {
    cursor: pointer;
    color: #0d1019;
    text-decoration: underline;
}

.security__card-button-copy {
    position: absolute;
    width: 130px;
    height: 50px;
    color: #0d1019;
    border-radius: 10px;
    font-weight: 400;
    border: 1px solid rgba(13, 16, 25, .1176470588);
    font-size: 15px;
    cursor: pointer;
    bottom: 20px;
}

/* PROFILE NOTIFICATION PAGE */
.notification__wrapper {
    width: 65%;
    margin-top: 50px;
    padding: 25px;
    border: 1px solid rgba(13, 16, 25, .06);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification__content {
    display: flex;
    align-items: center;
}

.notification-img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.notification__title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0d1019;
    margin-bottom: 10px;
}

.notification__description {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #0d10198e;
}

.notification-button {
    width: 130px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    background-color: #0d1019;
}

/* CASH REGISTER PAGE */

.search__block {
    margin-top: 30px;
    width: 100%;
    height: 55px;
    border: 1px solid #0d10191e;
    ;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.search__image {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.search__input {
    width: 100%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.casa-page {
    margin-top: 20px;
}

/* analytics page */
.second__analytics {
    margin-top: 100px;
}

.analytic__button {
    display: flex;
    width: 250px;
    height: 60px;
    background-color: #f6f6f7;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.how-it-works {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #0d1019;
}

.analytic__img {
    width: 43px;
    height: 35px;
}

/* transactions page */
.transactions__wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 424px);
    grid-template-rows: 52px auto;
    max-width: 1320px;
    margin: 0px auto;
}

.transactions__list {
    text-align: center;
    position: relative;
}

.box-image {
    margin-top: 60px;
    width: 170px;
    height: 60px;
}

.transactions__title {
    margin-top: 30px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0d1019;
}

.transactions__description {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #0d10198e;
    margin-top: 15px;
}

.filter {
    margin-top: 30px;
    margin-left: 60px;
    position: relative;
}

.filter::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 670px;
    background-color: #0d10191e;
    left: -30px;
}

.filter__title {
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #0d1019;
    margin-bottom: 30px;
}

.filter__choose {
    max-width: 100%;
    height: 60px;
    border: 1px solid #0d10191e;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.filter__choose-title {
    font-family: Inter,sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #0d10198e;
    margin-bottom: 8px;
}

.filter__choose-element {
    font-family: Inter,sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0d1019;
}

.filter__choose-right {
    cursor: pointer;
}

.filter__min-max {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.filter-min {
    width: 50%;
    height: 60px;
    border: 1px solid #0d10191e;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.devive__line {
    height: 1px;
    width: 20px;
    background-color: #0d1019;
    margin: 0 10px;
}

.filter__slide {
    width: 100%;
    height: 5px;
    background-color: #0d1019;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__slide-elips {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    border: 3px solid #0d1019;
    background-color: #fff;
    cursor: pointer;
}

.filter__button-apply {
    width: 100%;
    height: 60px;
    background-color: #0d1019;
    color: #fff;
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filter__button-export {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(13,16,25,.1176470588);
    color: #0d1019;
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}